<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .box{
            box-sizing: border-box;
            border: 2px solid black;
        }
        #mainbox{
            display:flex;
            /* flex-direction: row; */
            align-items: center;
            /* justify-content: center; */
        }
        #mainbox1{
            display:flex;
            /* flex-direction: row; */
            /* align-items: center; */
            justify-content: space-around;
        }
    </style>
</head>
<body>
    <div id="mainbox">
        <button class=""box>one</button>
        <button class="box">two</button>
        <button class="box">three</button>
        <p style="background-color: aqua;">four</p>
        <h1>five</h1>
    </div>
    <div id="mainbox1">
        <button class=""box>one</button>
        <button class="box">two</button>
        <button class="box">three</button>
        <p style="background-color: aqua;">four</p>
        <h1>five</h1>
    </div>
    <div style="display:flex; background-color: brown; border:2px solid yellow; box-sizing: border-box;">
        <div class="box">one</button>
        <div class="box">two</button>
        <div class="box">three</button>
    </div>
    <div style="display:flex; flex-direction: column;" >
        <div class="box">one</div>
        <div class="box">two</div>
        <div class="box">three</div>
    </div>
</body>
</html>

<!-- layout2 -> flex grid 
 
direction      main axis         cross axis
row            left->right      top->bottom
col            top->bottom       left->right-->